{:aliases {:test {:extra-paths ["test"]
                  :extra-deps  {lambdaisland/kaocha {:mvn/version "1.69.1069"}}
                  :main-opts   ["-m" "kaocha.runner"]}
           :outdated  {:replace-deps {olical/depot        {:mvn/version "2.3.0"}
                                      org.slf4j/slf4j-nop {:mvn/version "1.7.32"}}
                       :main-opts    ["-m" "depot.outdated.main"]}
           :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
                    :exec-fn deps-deploy.deps-deploy/deploy
                    :exec-args {:installer :remote
                                :sign-releases? true
                                :artifact "target/spread.jar"}}
           :pack {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                                :sha "c70740ffc10805f34836da2160fa1899601fac02"}}
                  :main-opts ["-m"]}}}
